body
{
    color :white;
    background-color: #fbff00;
}

.heading
{
    width: 80%;
    font-size: 22px;
}

camera
{
    border : 2px dashed black;
    width: 350px;
    height: 300px;
}

.name_of_objects, #result_object_name, #result_object_accuracy
{
    color: red;
}

#hed
{
    font-variant: small-caps;
    font-family: 'Niconne', cursive;
    font-size: 30px;
}